.popup{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    z-index: 2;
}